{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

<main class="w-50 mx-auto sk-main">

    <div class="card px-5 shadow bg-body-tertiary rounded mt-5">

        <p class="mt-3">
            Si un compte correspondant à votre adresse e-mail, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans <strong>{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</strong>.
        </p>
        <p class="mb-0">
            Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou
            <a href="{{ path('app_forgot_password_request') }}"><p class="text-center">Renvoyer un mail</p></a>
        </p>

        <a href="{{ path('app_landing_page') }}" class="sk-btn sk-init-a-reset-password w-100 mb-4">Quitter</a>

    </div>

</main>

{% endblock %}
