{% extends 'base.html.twig' %}
{% from 'macros/card.macro.twig' import card %}



{% block body %}

    <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Odyssey</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">A propos</a>
        <a class="nav-link" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>

    <header class='header'>
        <div class='container'>
            <h1>Soyez professionnel demain en apprenant dès aujourd'hui.</h1>
            <p>Bienvenue sur notre plateforme d'apprentissage. Acquérez de nouvelles compétences et progressez a votre rythme.</p>
            <a href="{{ path('app_courses') }}" class="Button">Consulter les cours</a>
            <a href="#" class="Button">Connexion</a>
        </div>
    </header>
<section class='d-flex justify-content-center mt-5 container'>
<div class='col-md-6 col-sm-12'>

{{ card("Etudiat", "Rejoignez notre communauté d'apprenants passionnés.
 Inscrivez-vous maintenant pour des cours de qualité et une expérience interactive.") }}
</div>
<div class='col-md-6 col-sm-12 '>
{{ card("Formateur", 
" Partagez votre expertise en tant que formateur sur notre plateforme. 
Rejoignez-nous aujourd'hui pour inspirer la prochaine génération de talents.") }}
</div>
</section>

<section class="mt-5 container-fluid row contact__style">
    <div class="col-md-6 w-50">
      <footer>
      <div class="col-12">Notre plateforme</div>
      <div class="col-12">A propos nos cours</div>
      <div class="col-12">Mentions legales</div>
      {# <a  href="#">Odyssey</a> #}
      </footer>
    </div>

    <div class="col-md-6 w-50">
        <div class="form__container mt-5">
        <span class="fw-bold fs-3 text">Contactez nous</span>
            <form id="contactForm ">
                <div class="form-group mt-5">
                    <label for="name">Nom</label>
                    <input type="text" id="name" placeholder='Votre nom' name="name" required >
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder='Votre adresse mail' required>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder='Posez vos questions, partagez vos découvertes.' rows="4" required></textarea>
                </div>
                
                <a type="submit" class="Button d-flex justify-content-center mt-5">Envoyer</a>
                
                
            </form>
        </div>
    </div>
</section>


{% endblock %}
