{% macro card(title, description) %}
    <div class="card card__style w-75">
        <div class="card-body p-4">
        <h5 class="card-title fw-bold">{{ title }}</h5>
            <p class="card-text mt-4">{{ description }}</p>
            <div class="d-flex justify-content-end">
            <a class="nm-Button__inscription" href="#">S'inscrire</a>
            </div>
            
        </div>
    </div>
{% endmacro %}
