{% block body %}

	<div class="container d-flex justify-content-center">
		{{ form_start(form, {attr: { class: "row row-cols-lg-auto g-3 align-items-center"}}) }}
		<div class="col-8">{{ form_widget(form.query) }}</div>
		
		{{ form_end(form) }}
	</div>


{% endblock %}
