/* import police */
@font-face {
    font-family: "Coolvetica";
    src: url("coolvetica_compressed_hv.otf");
}
/* register page */
.sk-main{
    min-height: 100vh;
}

.sk-h2{
    font-family: "Coolvetica", sans-serif;
}
.sk-password{
    font-size: 0.8rem;
}

.sk-btn{
    color: white;
    background-color: #725AC1;
    border: 2px solid #725AC1;
    border-radius: 10px;
    padding: 0.5em;
}

.sk-btn:hover {
    background-color: #5B47A4;
    border-color: #5B47A4;
    color: #FFFFFF;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.sk-redBorder {
    border: 1px solid red !important;
}
.sk-error-text {
    color: red;
    font-size: 12px;
}

/* home page */


.nm-header{
    background-color: #EDEBD7;
    color: black;
    text-align: left;
    padding: 80px 0;
}

.nm-header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.nm-header p {
    font-size: 18px;
    margin-bottom: 40px;
}
.card__style{
    border: 2px solid #EDEBD7;
    border-radius: 5px;
 background: white;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}

.nm-Button, .nm-Button__inscription {
position: relative;
display: inline-block;
margin: 15px;
padding: 10px 15px;
text-align: center;
font-size: 18px;
letter-spacing: 1px;
text-decoration: none;
color: #725AC1;
background: transparent;
cursor: pointer;
transition: ease-out 0.5s;
border: 2px solid #725AC1;
border-radius: 10px;
box-shadow: inset 0 0 0 0 #725AC1;
}

.nm-Button:hover {
color: white;
box-shadow: inset 0 -100px 0 0 #725AC1;
}

.nm-Button__inscription:hover {
color: white;
box-shadow: inset 160px 0 0 0 #725AC1;
}

/*Form-Contact*/
.contact__img{
    display: flex;
    justify-content: center;
}
.rocket__img{
    width: 60%;
    border-radius: 10px;

}

.contact__style{
    background-color:#EDEBD7 ;
    margin: 0px;
}
.nm-form-container {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 25px;
}


.nm-input__contact[type="text"],
.nm-input__contact[type="email"],
.nm-textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: none;
}
