{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}

    <main class="container mt-4">

        <h1><strong>Rendre l'éducation accessible</strong></h1>

        <p>La mission d’Odyssey est de rendre l’éducation accessible. Nous sommes une école 100% en ligne qui permet à
            des milliers d’individus partout dans le monde de développer leurs compétences professionnelles et de se
            former aux métiers de demain.<br>En vous connectant sur ce site, vous acceptez, sans réserves, les présentes
            modalités.</p>


        <h2 class="mt-4"><strong>100% en ligne, 100% professionnalisant</strong></h2>

        <p class="mt-3">Odyssey, ce sont 100 cours en ligne en accès libre et gratuit, pour se former aux compétences
            d’avenir : développement web, cybersécurité, traitement des données, design, systèmes et réseaux entre
            autres.</p><br>

        <p>Le modèle pédagogique des parcours Odyssey est bâti autour d’une exigence.</p>

        <p>Une plateforme pédagogique en ligne, un espace d'apprentissage accueillant et inclusif conçu pour répondre
            aux besoins divers et variés des apprenants de tous horizons. Notre mission est de fournir un accès
            équitable à l'éducation de qualité, où que vous soyez, à tout moment qui vous convient</p>

        <p>Découvrez un vaste éventail de cours dans des domaines allant des sciences et de la technologie aux arts et à
            la culture, en passant par les langues et les compétences professionnelles. Quels que soient vos intérêts ou
            vos objectifs d'apprentissage, nous avons des ressources adaptées à vos besoins.</p>

        <p>La flexibilité est au cœur de notre approche. Vous pouvez suivre les cours à votre propre rythme, en
            progressant à votre convenance, sans contrainte de temps ou de lieu. Que vous soyez un lève-tôt avide de
            connaissances ou un noctambule passionné d'apprentissage, notre plateforme est disponible 24 heures sur 24,
            7 jours sur 7 pour répondre à votre soif de savoir.</p>

        <p>Participez à une communauté dynamique d'apprenants comme vous, où vous pourrez échanger des idées, poser des
            questions, et collaborer sur des projets passionnants. Notre environnement d'apprentissage favorise
            l'interaction et la collaboration, vous permettant de tirer parti de la diversité des perspectives et des
            expériences des autres membres de la communauté.</p>

        <p>Que vous souhaitiez acquérir de nouvelles compétences pour votre carrière, explorer un sujet qui vous
            passionne ou simplement enrichir votre esprit, notre plateforme est là pour vous accompagner à chaque étape
            de votre parcours d'apprentissage. Rejoignez-nous dès aujourd'hui et commencez votre voyage vers la
            découverte, la croissance et la réalisation de vos objectifs éducatifs.</p>


        <h2 class="mt-5"><strong>Nos engagements pour l’environnement</strong></h2>

        <p class="mt-3">Toute activité économique a un impact sur la planète. Dans l’enseignement traditionnel en
            présentiel, un étudiant émet environ 1T de carbone par an. Chez Odyssey, c’est 32kg de CO2e, soit 30 fois
            moins, et nous travaillons à réduire encore ce chiffre.</p>

        <p>Notre stratégie carbone se décline en 3 axes :</p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item mb-4"><strong>Mesurer</strong> – Nous avons mis en place un pilotage mensuel de
                nos émissions pour ne pas simplement faire une photographie de nos émissions a posteriori, mais
                travailler à avoir un budget carbone et une réalisation fiables et maîtrisés.
            </li>

            <li class="list-group-item mb-4"><strong>Réduire</strong> – Plusieurs initiatives sont en cours afin de
                baisser nos émissions: politique RH favorisant les mobilités peu intenses en carbone, optimisation de
                notre site, baisse de la résolution de certaines vidéos.
            </li>

            <li class="list-group-item mb-4"><strong>Contribuer</strong> – à la lutte contre le réchauffement climatique
                grâce à la philanthropie –Odyssey s’est engagé en 2022 à faire un don annuel d’un montant équivalent à
                ses émissions au prix du marché carbone à des organismes contribuant à limiter le réchauffement
                climatique et à atteindre les objectifs des accords de Paris sur le climat. En 2022, Odyssey a donné 1
                000 000€ à la CCI. :-)
            </li>
        </ul>


        <h2 class="mt-5"><strong>Nos engagements pour la diversité et l’inclusion</strong></h2>

        <p class="mt-3">La mission d’Odyssey est de rendre l’éducation accessible à tous. Or, l’un des obstacles à
            l’accessibilité est le manque de diversité qui crée des barrières culturelles, économiques et sociales à
            l’éducation, et ensuite à l’insertion professionnelle.</p>

        <p>C’est pourquoi, nous nous engageons à mesurer la diversité de toutes nos parties prenantes et à améliorer nos
            pratiques pour créer un climat inclusif. Au sein de notre entreprise comme de notre communauté d’étudiants
            et de mentors, nous souhaitons que chacun soit mis dans les meilleures conditions pour réussir.</p>

        <p>En 2022, nous avons mené deux enquêtes ambitieuses sur la diversité et l’inclusion auprès de nos employés et
            3000 de nos étudiants. Les résultats de ces enquêtes nous ont donné des éclairages précieux pour créer une
            meilleure expérience de travail et d’apprentissage, et pour contribuer à l’émergence d’une société plus
            juste et plus inclusive</p>

        <p>L’accessibilité passe également par une plateforme conçue pour être accessible à tous, y compris aux
            personnes en situation de handicap. Nous nous efforçons d'être conformes aux standards d’accessibilité de
            type AA (normes WCAG 2.0).</p>

    </main>



{% endblock %}
