<!-- Modal -->
<div class="modal fade" id="Modal-note" tabindex="-1" aria-labelledby="delete-course" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header sk-modal">
                <h3 class="modal-title fs-5 text-white">Ajouter une note</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ path('app_add_note') }}" method="POST" class="d-flex flex-column">
                    <input type="text" name="courseId" id="modalCourseId" hidden>
                    <div class="modal-body">
                        <label for="note">Saisir votre note (1-5)</label>
                        <input id="note" class="mt-1 mb-2 w-100 form-control" type="number" name="note"/>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('app_user') }}" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</a>
                        <button id="addNote" class="btn sk-btn me-2" aria-label="Envoyer" aria-pressed="false">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // Update the course ID in the modal
    document.addEventListener('DOMContentLoaded', function () {
        const deleteModal = new bootstrap.Modal(document.querySelector('#Modal-note'));

        // Event listener for clicking on the modal note link.
        document.querySelectorAll('[data-bs-toggle="modal"][data-bs-target="#Modal-note"]').forEach(function (element) {
            element.addEventListener('click', function (e) {
                e.preventDefault();
                // Retrieve the course ID from the data attribute of the modal-opening link.
                const courseId = parseInt(this.getAttribute('data-course-id'));

                // Update the value of the course Id field in the modal form.
                document.querySelector('#modalCourseId').value = courseId;

                deleteModal.show();
            });
        });

        // Add event listener for the delete button to reload the page after successful deletion
        document.querySelector('#addNote').addEventListener('click', function () {
            window.location.reload();
        });
    });
</script>

