<!-- Modal -->
<div class="modal fade" id="Modal-delete" tabindex="-1" aria-labelledby="delete-course" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header sk-modal">
                <h3 class="modal-title fs-5 text-white">Confirmation</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr(e) de vouloir supprimer ce cours de votre liste ?
            </div>
            <div class="modal-footer">
                <a href="{{ path('app_user') }}" class="btn btn-secondary" data-bs-dismiss="modal">annuler</a>
                <a id="delete" href="#"  class="btn btn-danger">Valider</a>
            </div>
        </div>
    </div>
</div>


<script>
    // Update the course ID in the modal
    document.addEventListener('DOMContentLoaded', function () {
        const deleteModal = new bootstrap.Modal(document.querySelector('#Modal-delete'));

        // Event listener for clicking on the delete link.
        document.querySelectorAll('[data-bs-toggle="modal"][data-bs-target="#Modal-delete"]').forEach(function (element) {
            element.addEventListener('click', function (e) {
                e.preventDefault();
                // Retrieve the course ID from the data attribute of the modal-opening link.
                const courseId = parseInt(this.getAttribute('data-course-id'));
                const deleteButton = document.querySelector('#delete');

                console.log(courseId);

                // Set the href attribute with the proper URL
                deleteButton.href = "/user/" + courseId + "/remove";

                deleteModal.show();
            });
        });

        // Add event listener for the delete button to reload the page after successful deletion
        document.querySelector('#delete').addEventListener('click', function () {
            window.location.reload();
        });
    });
</script>

