{% import "macros/link.macro.twig" as link %}


<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Odyssey</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{{ link.isActiveNavLink('Home', 'app_landing_page') }}

				{# {{ link.isActiveNavLink('A propos', 'app_about') }} #}
				{# {{ link.isActiveNavLink('Contact', 'app_contact') }} #}
					<a class="nav-link" href="#"> A propos</a>
				<a class="nav-link" href="#">Contact</a>

				{{ link.isActiveNavLink('NosCours', 'app_courses')}}

			</div>
		</div>
	</div>
</nav>
