<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('styles/403.css') }}">
    <title>404 - Page introuvable !</title>
</head>

<body>
    <div class="text-wrapper">
        <div class="title" data-content="404">
            403 - ACCESS DENIED
        </div>

        <div class="subtitle">
            Oops, vous avez déclenché notre ninja de sécurité !
        </div>
        <div class="isi">
            Ah, la fameuse erreur 403 - Accès refusé ! On dirait que vous avez tenté d'explorer des territoires interdits,
            mais nos gardiens numériques sont plus féroces que vous ne le pensez.
            Peut-être avez-vous essayé de déchiffrer nos secrets les mieux gardés, mais n'oubliez pas, nos serveurs sont
            comme des coffres-forts numériques, et seuls les détenteurs de la clé magique peuvent y entrer.
            Si vous êtes sûr que c'est une erreur, assurez-vous que vous n'avez pas accidentellement défié notre robot
            de sécurité en tentant de jouer les hackers. Dans le cas contraire, vous pouvez toujours retourner sur vos pas
            ou contacter notre équipe de support, mais attention, les ninjas veillent !
        </div>

        <div class="buttons">
            <a class="button" href="{{ path('app_landing_page') }}">Accueil</a>
        </div>
    </div>


</body>
</html>