{% extends "base_email.html.twig" %}

{% block tille %} Confirmation de désactivation de votre compte {% endblock %}

{% block body %}

    <h2>Cher(e) {{ user.firstNameUser }} {{ user.lastNameUser}}</h2>

    <p>C'est avec regret que nous vous informons que<strong> votre compte a bien été désactivé.</strong>
    <p>Nous sommes sincèrement désolés de vous voir partir.</p>
    <p>Si vous avez des questions ou des préoccupations concernant cette désactivation, n'hésitez pas à nous contacter à l'adresse</p>
    <strong> {{ email }}</strong>.
    <p>Nous tenons à vous remercier pour le temps que vous avez passé avec nous et espérons que vous avez trouvé de la valeur dans notre service.<p>
    <p>Si vous décidez de revenir à l'avenir, nous serons ravis de vous accueillir à nouveau.<p><br>
    Cordialement,<br>

    <p>L'équipe d'Odyssey</p>


{% endblock %}