{% extends "base_email.html.twig" %}

{% block tille %} Confirmation de réactivation de votre compte {% endblock %}

{% block body %}

    <h2>Cher(e) {{ user.firstNameUser }} {{ user.lastNameUser}}</h2>

    <p>Nous avons le plaisir de vous informer que<strong> votre compte a bien été réactivé.</strong></p>
    <p>Nous sommes ravis de vous revoir parmi nous !</p>
    <p>Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter à l'adresse</p>
    <strong>{{ email }}</strong>.
    <p>Nous vous remercions de votre confiance et nous espérons vous offrir une expérience encore meilleure cette fois-ci.</p>
    <p>Bienvenue de nouveau parmi nous !</p><br>
    Cordialement,<br>

    <p>L'équipe d'Odyssey</p>



{% endblock %}